<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="./css/templatemo.css">

    <title>Trang Chủ</title>
</head>

<body ng-app="myApp" ng-controller="ctrl">
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:anhnctph19690@fpt.edu.vn">anhnctph19690@fpt.edu.vn</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:0379361304">0379361304</a> -
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:03866889751">03866889751</a>
                </div>
                <div>
                    <a class="text-light" href="https://www.facebook.com/tuanem051203" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/tuanem0512/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.facebook.com/tuanem051203" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.facebook.com/tuanem051203" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-success shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
                MuaChungCu
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">Giới Thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="shop.html">Liện Hệ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">CRUD Sản Phẩm</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="./CRUD.html">Thêm Sản Phẩm</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="./CRUD.html">Xoá Sản Phẩm</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="./CRUD.html">Update Sản Phẩm</a></li>

                            </ul>

                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>

                    <a class="nav-icon position-relative text-decoration-none" href="./Cart.html">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">TA</span>
                    </a>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->


    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-9 col-lg-6 order-lg-last">
                            <img class="" src="./img/Vinhome01.jpg" alt="" style="padding-bottom: 40px;width: 1000px; height: 800px;">
                        </div>
                        <div class="col-lg-3 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Căn hộ Cao Cấp</b> eCommerce</h1>
                                <h3 class="h2">Dự án Vinhomes Ocean Park</h3>
                                <p>
                                    Mua Căn hộ Chung Cư Vinhomes nhận quà tặng lê đến vài trăm triệu, Hỗ trợ giải ngân vay vốn. Chiết khấu lên đến 18% giá bán căn hộ và thuộc quyền sở hữu của <a rel="sponsored" class="text-success" href="https://templatemo.com"
                                        target="_blank">Tập Đoàn Vingroup</a> Chủ tịch là Ông <a rel="sponsored" class="text-success" href="https://stories.freepik.com/" target="_blank">Phạm Nhật Vượng</a>.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-9 col-lg-9 order-lg-last">
                            <img class="" src="./img/Vinhome02.jpg" style="padding-bottom: 40px;width: 1000px; height: 800px; ">
                        </div>
                        <div class="col-md-3 col-lg-3 mb-0 d-flex align-items-center ">
                            <div class="text-align-left ">
                                <h1 class="h1 ">VinHome Smart City</h1>
                                <h3 class="h2 ">Vùng đẩt Địa linh nhân kiệt</h3>
                                <p>
                                    Không chỉ kiến tạo một chốn sống sang đẳng cấp dành cho cư dân, nơi đây còn được nâng cấp IQ toàn thành phố để trở thành đại đô thị thông minh đầu tiên tại Việt Nam. Trở thành cư dân Vinhomes Smart City, bạn sẽ làm chủ thế giới công nghệ bằng sự hiện
                                    diện của mình. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row p-5 ">
                        <div class="mx-auto col-md-9 col-lg-9 order-lg-last ">
                            <img class=" " src="./img/chungCu03.jpg " alt=" " style="padding-bottom: 40px;width: 1000px; height: 800px; ">
                        </div>
                        <div class="col-lg-3 col-md-3 mb-0 d-flex align-items-center ">
                            <div class="text-align-left ">
                                <h1 class="h1 ">Tạo độ trung tâm phía đông Hà nội</h1>
                                <h3 class="h2 ">Vùng đẩt Địa linh nhân kiệt </h3>
                                <p>
                                    Sở hữu hệ thống giao thông hoàn hảo trong tương lai, khi hạ tầng được nâng cấp mạnh mẽ từng ngày với các nút hiện đại, cùng các cây cầu " Triệu Đô " kết nối đôi bờ Sông Hồng và quảng trường ga Metro số 8 kế cận. Vinhomes Ocean Park hứa hẹn là trở thành
                                    một ngôi sao sáng ở trái tim của phía Đông Hà Nội. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3 " href="#template-mo-zay-hero-carousel " role="button " data-bs-slide="prev ">
            <i class="fas fa-chevron-left "></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3 " href="#template-mo-zay-hero-carousel " role="button " data-bs-slide="next ">
            <i class="fas fa-chevron-right "></i>
        </a>
    </div>
    <!-- End Banner Hero -->

    <!-- Start Search -->

    <div class=" py-5  text-center bg-info" id="search">

        <div class=" py-3 row height d-flex justify-content-center align-items-center">

            <div class="col-md-8">

                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control" placeholder="Bạn cần tìm căn hộ nào?" ng-model="search">
                    <button class="btn btn-primary" ng-click="searchFunction()">Search</button>
                </div>

            </div>

        </div>
        <div>
            <div class="row height d-flex justify-content-center align-items-center " id="filter">
                <div class="col-sm-3 col-xs-6">
                    <select data-filter="make" class="filter-make filter form-control">
                            <option value="">Tất Cả</option>
                            <option value="">Xu Hướng</option>
                            <option value="">Xem Tất Cả</option>
                            <option value="">Diện Tích</option>
                            <option value="">Mức Giá</option>
                            <option value="">Số Phòng Ngủ</option>
                        </select>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <select data-filter="model" class="filter-model filter form-control">
                            <option value="">Tất Cả</option>
                            <option value="">Tăng Dần</option>
                            <option value="">Giảm Dần</option>
                        </select>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <select data-filter="model" class="filter-model filter form-control">
                            <option value="">Tất Cả</option>
                            <option value="">Tất Cả</option>
                            <option value="">Hà Nội</option>
                            <option value="">Hải Phòng</option>
                            <option value="">TP HCM</option>
                            <option value="">Miền Bắc</option>
                            <option value="">Miền Trung</option>
                            <option value="">Miền Nam</option>
                        </select>
                </div>

            </div>
        </div>
        <hr>
        <!-- Start Featured Product -->
        <section class="bg-light">
            <div class="container py-5">

                <div class="row text-center py-3">
                    <div class="col-lg-6 m-auto">
                        <h1 class="h1"> Danh sách Chung cư- Căn hộ cao cấp Tại HÀ NỘI</h1>
                        <p>
                            Dự án chung cư- căn hộ cao cấp chỉ có tại <a href="">MuaChungCu.vn</a>
                        </p>
                        <h3>Có tất cả {{totalProduct}} căn hộ có sẵn</h3>
                        <hr>
                    </div>
                </div>

                <h1>{{name}}</h1>
                <!-- Hàng 1 sản Phẩm -->
                <div class="row">
                    <div class="col-12 col-md-3 mb-4" ng-repeat="c in chungCu | filter :  search ">
                        <div class="card h-100 ">
                            <a ng-click="display(c)" data-bs-toggle="modal" data-bs-target="#myModal">
                                <img src="{{c.img}} " class="card-img-top " alt="... " ng-click="display(c) ">

                            </a>
                            <div class="card-body ">
                                <ul class="list-unstyled d-flex justify-content-between ">
                                    <li>
                                        <i class="text-warning fa fa-star "></i>
                                        <i class="text-warning fa fa-star "></i>
                                        <i class="text-warning fa fa-star "></i>
                                        <i class="text-warning fa fa-star "></i>
                                        <i class="text-warning fa fa-star "></i>
                                    </li>
                                    <li class="text-black text-right ">{{c.muc_Gia}} tỷ VND</li>
                                </ul>
                                <a href="./ProductDetail.html " class="h2 text-decoration-none text-dark ">{{c.name}}</a>
                                <p class="card-text ">
                                    - Diện tích: {{c.dien_Tich}} m²
                                </p>
                                <p class="card-text ">
                                    - Số phòng ngủ: {{c.phong_Ngu}} phòng ngủ - {{c.phong_Ve_Sinh}} toilet
                                </p>
                                <p class="card-text ">
                                    - Hướng Nhà: {{c.huong_Nha}}
                                </p>
                                <p class="card-text ">
                                    - Pháp Lý: {{c.phap_Li}}
                                </p>
                                <p class="text-muted ">Reviews (24)</p>
                            </div>
                        </div>
                    </div>

                </div>
                <hr>


                <!-- The Modal -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-fullscreen ">
                        <div class="modal-content ">

                            <!-- Modal Header -->
                            <div class="modal-header ">
                                <h4 class="modal-title ">Thông tin chi tiết sản phẩm</h4>
                                <button type="button " class="btn-close " data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <!-- Chi tiết Sản Phẩm -->
                            <div class="card ">
                                <div class="card-body ">
                                    <h3 class="card-title ">{{tap_Doan}}</h3>
                                    <h6 class="card-subtitle ">{{mo_}}</h6>
                                    <div class="row ">
                                        <div class="col-lg-5 col-md-5 col-sm-6 ">
                                            <!-- Start Banner Hero -->
                                            <div id="template-mo-zay-hero-carousel " class="carousel slide " data-bs-ride="carousel ">
                                                <ol class="carousel-indicators ">
                                                    <li data-bs-target="#template-mo-zay-hero-carousel " data-bs-slide-to="0 " class="active "></li>
                                                    <li data-bs-target="#template-mo-zay-hero-carousel " data-bs-slide-to="1 "></li>
                                                    <li data-bs-target="#template-mo-zay-hero-carousel " data-bs-slide-to="2 "></li>
                                                </ol>
                                                <div class="carousel-inner ">
                                                    <div class="carousel-item active ">
                                                        <div class="container ">
                                                            <div class="row p-5 ">
                                                                <div class="mx-auto col-md-12 col-lg-12 order-lg-last ">
                                                                    <img class=" " src="{{img}} " alt=" " style="padding-bottom: 40px;width: 600px; height: 400px; ">
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item ">
                                                        <div class="container ">
                                                            <div class="row p-5 ">
                                                                <div class="mx-auto col-md-12 col-lg-12 order-lg-last ">
                                                                    <img class=" " src="{{img}} " style="padding-bottom: 40px;width: 600px; height: 400px; ">
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item ">
                                                        <div class="container ">
                                                            <div class="row p-5 ">
                                                                <div class="mx-auto col-md-12 col-lg-12 order-lg-last ">
                                                                    <img class=" " src="{{img}} " alt=" " style="padding-bottom: 40px;width: 600px; height: 400px; ">
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="carousel-control-prev text-decoration-none w-auto ps-3 " href="#template-mo-zay-hero-carousel " role="button " data-bs-slide="prev ">
                                                    <i class="fas fa-chevron-left "></i>
                                                </a>
                                                <a class="carousel-control-next text-decoration-none w-auto pe-3 " href="#template-mo-zay-hero-carousel " role="button " data-bs-slide="next ">
                                                    <i class="fas fa-chevron-right "></i>
                                                </a>
                                            </div>
                                            <!-- End Banner Hero -->
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-6 ">
                                            <h4 class="box-title mt-5 ">{{name}}</h4>
                                            <p>{{mo_Ta}}</p>
                                            <h2 class="mt-5 ">
                                                {{muc_Gia}} tỷ VND <small class="text-success ">(36%off)</small>
                                            </h2>
                                            <button class="btn btn-dark btn-rounded mr-1 " data-toggle="tooltip " title=" " data-original-title="Add to cart ">
                    <i class="fa fa-shopping-cart "></i> Thêm vào giỏ hàng
                </button>
                                            <button class="btn btn-primary btn-rounded ">Mua Ngay</button>
                                            <h3 class="box-title mt-5 ">Vị trí</h3>
                                            <ul class="list-unstyled ">
                                                <li><i class="fa fa-check text-success "></i>{{huong_Nha}}</li>
                                                <li><i class="fa fa-check text-success "></i>{{huong_Nha}}</li>
                                                <li><i class="fa fa-check text-success "></i>{{huong_Nha}}</li>

                                            </ul>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 ">
                                            <h3 class="box-title mt-5 ">Thông Tin Đặc Điểm</h3>
                                            <div class="table-responsive ">
                                                <table class="table table-striped table-product ">
                                                    <tbody>
                                                        <tr>
                                                            <td width="390 ">Thuộc Tập Đoàn</td>
                                                            <td>{{tap_Doan}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Thuộc Dự Án</td>
                                                            <td>{{phong_Cach}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Địa Chỉ</td>
                                                            <td>{{dia_Chi}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Kiểu Nhà</td>
                                                            <td>{{kieu_Nha}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Phong cách</td>
                                                            <td>{{phong_Cach}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Hướng Nhà</td>
                                                            <td>{{huong_Nha}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Diện Tích</td>
                                                            <td>{{dien_Tich}} m²</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Chiều Cao Phòng</td>
                                                            <td>{{chieu_Cao}} mét</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Phòng Khách</td>
                                                            <td> Yes - {{phong_Khach}} Phòng</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Phòng Ngủ</td>
                                                            <td>Yes - {{phong_Ngu}} Phòng</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Phòng Vệ Sinh</td>
                                                            <td>Yes - {{phong_Ve_Sinh}} Phòng</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mức giá</td>
                                                            <td>{{muc_Gia}} Tỷ VND</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Phát Lý</td>
                                                            <td>{{phap_Li}} - Sổ đỏ, Sổ hồng</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="row ">
                                                <hr>
                                                <h3 class="text-info ">Xem trên Bản Đồ Google Maps</h3>
                                                <div class="col-12 ">
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1052.816828245454!2d105.95543765921502!3d20.99294548089675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135afd7f64f1b11%3A0x28b61b5734a990af!2zQ0VOTEFORCAtIELEkFMgVGjhur8gS-G7tywgVnAgVmluaG9tZXMgT2NlYW4gUGFyaw!5e1!3m2!1sen!2s!4v1675510100469!5m2!1sen!2s "
                                                        width="100% " height="450 " style="border:0; " allowfullscreen=" " loading="lazy " referrerpolicy="no-referrer-when-downgrade "></iframe> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer ">
                                <button type="button " class="btn btn-danger " data-bs-dismiss="modal ">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Mục Lục -->
            <div class="py-3 row height d-flex justify-content-center align-items-center ">
                <div class="col-md-4 ">
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination ">
                            <li class="page-item "><a class="page-link ">Previous</a></li>

                            <li class="page-item " ng-repeat="num in pageRange() "><a class="page-link " ng-click="change(num) ">{{num}}</a></li>
                            <li class="page-item "><a class="page-link ">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End Mục Lục -->
        </section>
        <!-- End Featured Product -->

    </div>





    </div>
    <!-- End Search -->
    <!-- End Banner Hero -->

    <!-- Start Categories of The Month -->
    <div class="bg-success ">
        <section class="container py-5 ">
            <div class="row text-center pt-3 ">
                <div class="col-lg-6 m-auto text-white ">
                    <h1 class="h1 logo ">Các Bất Động Sản nổi bật</h1>
                    <p>
                        Một số những khu Chung Cư Căn hộ cao cấp trên <a>MuaChungCu.vn</a>
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-md-4 p-5 mt-3 ">
                    <a><img src="./img/KeamnamHanoi.jpg " class="rounded-circle img-fluid border "></a>
                    <h5 class="text-center mt-3 mb-3 ">Toà Keamnam Hà Nội</h5>
                    <p class="text-center "><a class="btn btn-danger ">Đi Đến</a></p>
                </div>
                <div class="col-12 col-md-4 p-5 mt-3 ">
                    <a><img src="./img/TimeCityHanoi.jpg " class="rounded-circle img-fluid border "></a>
                    <h2 class="h5 text-center mt-3 mb-3 ">TimesCity Hà Nội</h2>
                    <p class="text-center "><a class="btn btn-danger ">Đi Đến</a></p>
                </div>
                <div class="col-12 col-md-4 p-5 mt-3 ">
                    <a><img src="./img/DolphinPlazaTranBinh.jpg " class="rounded-circle img-fluid border "></a>
                    <h2 class="h5 text-center mt-3 mb-3 ">Dolphin Plaza Trần Bình</h2>
                    <p class="text-center "><a class="btn btn-danger ">Đi Đến</a></p>
                </div>
            </div>
        </section>
    </div>
    <!-- End Categories of The Month -->





    <!-- Start Footer -->
    <footer class="bg-dark " id="tempaltemo_footer ">
        <div class="container ">
            <div class="row ">

                <div class="col-md-4 pt-5 ">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo ">Mua Bán Chung Cư</h2>
                    <ul class="list-unstyled text-light footer-link-list ">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw "></i> Số 15LK31, khu đô thị Vân Canh, Quận Nam Từ Niêm, Hà Nội.
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw "></i>
                            <a class="text-decoration-none " href="tel:0379361304 ">0379361304</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw "></i>
                            <a class="text-decoration-none " href="mailto:anhnctph19690@fpt.edu.vn ">anhnctph19690@fpt.edu.vn</a>
                        </li>
                    </ul>

                </div>

                <div class="col-md-4 pt-5 ">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo ">Sản Phẩm</h2>
                    <ul class="list-unstyled text-light footer-link-list ">
                        <li><a class="text-decoration-none ">Chung cư</a></li>
                        <li><a class="text-decoration-none ">Căn hộ Cao Cấp</a></li>
                        <li><a class="text-decoration-none ">Văn Phòng Làm Việc</a></li>
                        <li><a class="text-decoration-none ">Studio Học Tâọ</a></li>
                        <li><a class="text-decoration-none ">Studio Làm Việc</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5 ">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo ">Thông tin thêm</h2>
                    <ul class="list-unstyled text-light footer-link-list ">
                        <li><a class="text-decoration-none ">Trang chủ</a></li>
                        <li><a class="text-decoration-none ">Tìm Kiếm</a></li>
                        <li><a class="text-decoration-none ">Chi Tiết Sản Phẩm</a></li>
                        <li><a class="text-decoration-none " href="./CRUD.html">CRUD Sản Phẩm</a></li>
                    </ul>
                </div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3042.215642842131!2d105.73368194027033!3d21.039294613666332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345514476bba57%3A0x98e50c4086224c80!2zVsSDbiBwaMOybmcgROG7i2NoIHbhu6UgcGjDsm5nIHRy4buNIFZJRkFITw!5e0!3m2!1sen!2s!4v1675439364818!5m2!1sen!2s "
                    width="600 " height="350 " style="border:1; " allowfullscreen=" " loading="lazy " referrerpolicy="no-referrer-when-downgrade "></iframe>
            </div>

            <div class="row text-light mb-4 ">
                <div class="col-12 mb-3 ">
                    <div class="w-100 my-3 border-top border-light "></div>
                </div>
                <div class="col-auto me-auto ">
                    <ul class="list-inline text-left footer-icons ">
                        <li class="list-inline-item border border-light rounded-circle text-center ">
                            <a class="text-light text-decoration-none " target="_blank " href="http://facebook.com/ "><i class="fab fa-facebook-f fa-lg fa-fw "></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center ">
                            <a class="text-light text-decoration-none " target="_blank " href="https://www.instagram.com/ "><i class="fab fa-instagram fa-lg fa-fw "></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center ">
                            <a class="text-light text-decoration-none " target="_blank " href="https://twitter.com/ "><i class="fab fa-twitter fa-lg fa-fw "></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center ">
                            <a class="text-light text-decoration-none " target="_blank " href="https://www.linkedin.com/ "><i class="fab fa-linkedin fa-lg fa-fw "></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto ">
                    <label class="sr-only " for="subscribeEmail ">Email address</label>
                    <div class="input-group mb-2 ">
                        <input type="text " class="form-control bg-dark border-light " id="subscribeEmail " placeholder="Email address ">
                        <div class="input-group-text btn-success text-light ">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="w-100 bg-black py-3 ">
            <div class="container ">
                <div class="row pt-2 ">
                    <div class="col-12 text-center ">
                        <p class="text-left text-light ">
                            - Bài Assignment Môn Frontend - Framework </p>
                        <p class="text-left text-light ">
                            Copyright &copy; 2023 Company Name | Designed by <a rel="sponsored " href="https://templatemo.com " target="_blank ">Nguyen Cong Tuan Anh - PH19690</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <!-- Trang Tham Khảo làm ASS GD1  -->
        <div class="row py-1 ">
            <div class="col-3 ">
                <a class="text-decoration-none " href="https://themewagon.github.io/zay-shop/?_ga=2.152521721.154854196.1675142922-523700068.1675142922#template-mo-zay-hero-carousel ">+ Tham Khảo Trang Index</a>

            </div>
            <div class="col-3 ">
                <a class="text-decoration-none " href="https://www.bootdey.com/snippets/view/bs4-product-detail#preview ">+ Tham Khảo Trang Chi Tiết Sản Phẩm</a>

            </div>
            <div class="col-3 ">
                <a class="text-decoration-none " href="https://bbbootstrap.com/snippets/simple-shopping-cart-coupon-code-input-text-39165166 ">+ Tham Khảo Trang Giỏ Hàng</a>

            </div>
            <div class="col-3 ">
                <a class="text-decoration-none " href="https://bbbootstrap.com/snippets/simple-shopping-cart-coupon-code-input-text-39165166 ">+ Tham Khảo Trang Thanh Toán</a>

            </div>
        </div>
        <!-- End Trang Tham Khảo làm ASS GD1  -->
    </footer>
    <!-- End Footer -->



</body>


<script src="./js/angularJS.js "></script>

</html>